* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.viewport {
  height: 100vh;
  width: 100vw;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 100px;
  overflow: hidden;
}

.burgerImg {
  height: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 800;
  line-height: 40px;
  font-size: 2.7rem;
}

p {
  font-weight: 300;
}

.inputBar {
  background-color: white;
  width: 90%;
  height: 2.5rem;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addressInput {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  text-align: left;
  padding: 10px;
  font-family: "quicksand";
}

.addressInput::placeholder {
  color: rgb(177, 177, 177);
  font-size: 0.8rem;
  font-family: "quicksand";
}

.flagIconContainer {
  background-color: var(--secondary-color);
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.flagIcon {
  height: 30px;
  filter: invert();
}

.compassIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.compassIcon {
  height: 12px;
  filter: invert();
}

.useCurrentLocationButton {
  border-radius: 0;
  width: fit-content;
  box-shadow: 0 0 0 0;
  display: flex;
  gap: 7px;
  padding: 0 10px 0 0;
  background-color: var(--secondary-color-lighter);
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  margin-right: 10px;
}

button.useCurrentLocationButton:hover {
  background-color: var(--secondary-color-light);
}

button.useCurrentLocationButton:active {
  scale: 0.9;
}

.useCurrentLocationText {
  text-wrap: nowrap;
  font-size: 0.6rem;
  color: var(--secondary-color);
}

.wavySvg {
  width: 100%;
  padding: 0;
}
