.shoppingCart {
  width: 230px;
  height: 400px;
  box-shadow: 0 0 50px 7px rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  z-index: 999;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.shoppingCartContainer {
  width: 270px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.shoppingCart > p {
  width: 80%;
  text-align: center;
  font-size: 0.85rem;
}

.shoppingCartBackground {
  width: 80%;
}

.shoppingListContainer {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
}

.shoppingListItem {
  height: fit-content;
  color: black;
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.cartItemContainer {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color-lighter);
  width: 100%;
}

.ammountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--secondary-color-light);
  height: 15px;
  border-radius: 50px;
  margin: 5px;
  width: 20%;
}

.quantityButton {
  height: 15px;
  width: 15px;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 0 0;
}

.quantityNumber {
  font-size: 0.7rem;
}

.quantityButton:hover {
  background-color: var(--primary-color);
}

.quantityButton:active {
  size: 0.8;
}

.buyButton {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 0;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.buyButton:hover {
  background-color: var(--primary-color);
}

b {
  font-weight: 600;
  font-size: 0.9rem;
}

.transportContainer {
  position: absolute;
  display: flex;
  bottom: 50px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--primary-color-light);
  padding: 1px 5px;
  border-radius: 50px;
}

.scooterIcon {
  height: 15px;
  width: 15px;
}

.shoppingCart > h2 {
  color: var(--secondary-color);
}
